mixin  chatBody()
	// start ChatPage
	+b.ChatPage#ChatPage&attributes(attributes) 
		+b.section-title
			h2 Чат
		+b.chat-block
			+e.row.row
				.col-md-4
					+e.menu
						+e.head
							+input()
							+e.btn-search(type="button")
								+icon("icon-search")
							+e.datepicker(href="#modal-date" data-fancybox)
								+icon("datepicker")
						+e.step-body
							- for (var x = 0; x < 10; x++)
								+e.contact-item--new
									+e.tel  +38092836574
									+icon("uiw_facebook")
									+e.time 12:10
								+e.contact-item
									+e.tel  +38092836574
									+icon("mail")
									+e.time 14:21
				#modal-date(style="display: none").moda-date
					+calendar() 
							.moda-date__btns
								button.moda-date__btn.btn.btn-warning.btn-sm Очистить
								button.moda-date__btn.btn.btn-primary.btn-sm Фильтровать

				.col
					+e.step--content
						block
mixin ChatPage(data)
	+chatBody()
		+e.contact-item
			+e.tel.strong  Георгий
			+icon("mail")
			+e.tel.ms-auto  +38092836574
			+e.close-btn.d-md-none
				+icon("chevron-left")
		+e.messanger
			+e.messanger-body
				+e.mess Здравствуйте, можно ли забронировать стол? Необходимо в 20 часов вечера, самый крайний, пожалуйста.
				+e.mess Нас будет 4 человека
				+e.mess--right Добрый день, за Вами забронирован стол номер 8, пожалуйста, не задерживайтесь, хорошего дня!
				+e.mess Здравствуйте, можно ли забронировать стол? Необходимо в 20 часов вечера, самый крайний, пожалуйста.
				+e.mess Здравствуйте, можно ли забронировать стол? Необходимо в 20 часов вечера, самый крайний, пожалуйста.
				+e.mess Здравствуйте, можно ли забронировать стол? Необходимо в 20 часов вечера, самый крайний, пожалуйста.
				+e.mess--right Добрый день, за Вами забронирован стол номер 8, пожалуйста, не задерживайтесь, хорошего дня!
			+e.messanger-footer
				textarea.form-control(placeholder='Введите текст сообщения')
				+e.btn(type="submit").btn.btn-primary
					+icon("tabler_send") 
mixin ChatPageEmpty(data)
	+chatBody()
		+e.label Выберите чат
